@charset "utf-8";

body {
  background-color: #ffffff;
  font-family: 'Catamaran','Noto Sans JP',sans-serif;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  word-break: break-all;/**/
  color: #2c2c2c;
}

/*---------------------------
全体
---------------------------*/
main {/**/
  width: 1200px;
  margin: 0 auto 50px;
  /*要修正*/
}
h2 {
  color: #0dbd9a;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid #0dbd9a;
  text-align: center;
  margin: 20px auto;
  width: 300px;
}
/*---------------------------
ヘッダー
---------------------------*/
header{
  background-image: url(../images/tile.jpg);
  margin: 0;
  padding: 0;
  font-weight: bold;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*@media screen and (max-width: 500px){
  header{
  background-image: url(../images/tile.jpg);
  margin: 0;
  padding: 0;
  font-weight: bold;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  }
}*/
h1{
  line-height: 1.2;
  font-size: 0px;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #0dbd9a;
	text-shadow:
		1px -1px 1px #BDBDBD,
		-1px 2px 1px #737272,
		-2px 4px 1px #767474,
		-3px 6px 1px #787777,
		-4px 8px 1px #424242,
		-5px 10px 1px #616161,
		-6px 12px 1px #757575,
		-7px 14px 1px #9E9E9E,
		-8px 16px 1px #BDBDBD,
		-9px 18px 1px #E0E0E0
}
h1 .inner {
  position: relative;
  margin: 0 auto;
}
nav ul{
  justify-content: center;
  display: flex;
  background-color: #ffffff;
  border-top: 2px solid #0dbd9a;
  border-bottom: 2px solid #0dbd9a;
  padding: 12px 0 10px;
}
/*要修正*/
/*
@media (max-width: 1200px){
nav{
  max-width: 1200px;
}
}*/
nav.fix {
  position: fixed;
  width: 100%;
  top: 0;
}
nav ul li{
  margin: 0 25px;
}
nav ul li a{
  font-size: 22px;
  font-weight: bold;
}
nav ul li a:hover{
  color: #0dbd9a;
  text-decoration: underline;
}
/*---------------------------
profile
---------------------------*/
#profile{
  padding: 80px 10px 35px 0px;
}
#profile p{
  width: 700px;
  margin: 0 auto;
}
#profile a{
  color: #0000FF;
  font-weight: bold;
}
#profile a:hover{
  border-bottom: 1px solid #0000FF;
}

/*---------------------------
skill
---------------------------*/
#skill{
  padding: 80px 10px 35px 0px;
}
.skill-text{
  width: 700px;
  margin: 0 auto;
}
#graph{
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px;
}
#graph div{
  background-color: #ddd;
  box-sizing: border-box;
  margin-top: 35px;
  margin-right: auto;
  padding: 35px;
  width: 49%;/*間隔　*/
  text-align: center;
  border-radius: solid 10px;
}
#graph .others{
  background-color: #ddd;
  box-sizing: border-box;
  margin-top: 35px;
  margin-right: auto;
  padding: 35px;
  width: 99%;/*間隔　*/
  text-align: center;
  border-radius: solid 10px;
}
.table{
  margin: 0 auto;
}
#graph tr .align{
  text-align: center;
}
#graph tr th{
  /*編集*/
  width: calc(100%/3);
  padding-left: 5px;
  padding-right: 20px;
}
#graph .backend tr th{
  /*編集*/
  width: calc(100%/3);
  padding-left: 0;
  padding-right: 0;
}
#graph h4{
  color: #ffffff;
  background-color: #000000;
  font-size: 20px;
  font-weight: bold;
  width: 250px;
  text-align: center;
  margin: 0px auto 10px;
}
#graph p{
  margin-bottom: 10px;/**/
}
h6{
  font-weight: bold;
}
.experience{
  margin: 0 309px;
  padding-bottom: 25px;
  padding-top: 10px;
}
.others ul{
  width: 480px;
  text-align: left;
}
/*---------------------------
works
---------------------------*/
#works{
  padding: 80px 10px 35px 0px;
}
.works-h2{
margin: 20px auto 0
}
h3 {/*位置と横幅変更*/
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}
.h3portfolio{
  margin-top: 40px;
}
.work1{
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px;
  height: 400px;
}
.work2{
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px;
  height: 300px;
}
#work-graph .works-left{
  border: 3px solid #ddd;
  background-color: #ffffff;
  width: 40%;/*間隔　*/
}
.sample1{
  background-image: url(../images/ec.png);
  background-size: cover;
  height: 70%;
  border-bottom: 3px solid #ddd;
}
.sample2{
  background-image: url(../images/portforio1.png);
  background-size: cover;
  background-position: center;
  height: 255px;
  border-bottom: 3px solid #ddd;
}
.under{/*修正*/
  padding: auto;
}
.link{
  text-align: center;
}
.link a{
  font-size: 20px;
  font-weight: bold;
}
.under p{
  font-size: 15px;
} 
.img-item{
  height: 200;
}
#work-graph .works-right{
  border-top: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
  border-right: 3px solid #ddd;
  width: 60%;
  line-height: 1.6;
}
h5{
  font-weight: bold;
  color: #0dbd9a;
  margin-top: 10px;
  /*background-color: blue;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  width: 150px;*/
}
.works-right .border{
  border-bottom: 3px solid #ddd;
}
.flex{
  display: flex;
}
.skill-name{
  font-weight: bold;
}

.opacity{
  opacity: 0;
}

/*---------------------------
contact ！！！！！！！！！！！修正　難しい
---------------------------*/
#contact{
  padding: 80px 10px 70px 0px;
}
#contact{
  width: 700px;
  margin: 0 auto;
}
#contact_form{
  display: flex;
  flex-wrap: wrap;
}
#contact_form .name-area{
  padding-left: 15px;
  box-sizing: border-box;
  margin-top: 10px;
  width: 50%;
  height: 85px;
}
#contact_form .email-area{
  padding-left: 15px;
  box-sizing: border-box;
  margin-top: 10px;
  width: 50%;
  height: 85px;
}
input {
  border-bottom: 2px solid #000000;
  min-width: 300px;
}
#contact_form .text-area{
  padding-left: 15px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-right: auto;
  width: 100%;
  height: 155px;
}
textarea {
  resize: auto;
  min-width: 646px;
  max-width: 646px;
  height: 100px;
  min-height: 100px;
  max-height: 250px;
  border-bottom: 2px solid #000000;
}
#submit_btn{
  margin-top: 28px;
  text-align: center;
  width: 690px;
}
.submit_btn{
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #2c2c2c;
  display: inline-block;
  padding: 8px 30px 8px 30px;
  position: relative;
  border: 2px solid #2c2c2c;
  border-radius: 20px;
}
.p1{
  display: flex;
  font-size: 12px;
}
.error_msg{
  color: red;
  font-size: 14px;
}
/*---------------------------
footer
---------------------------*/
#footer{
  background-color: #0dbd9a;
  text-align: center;
  width: 100%;
  padding: 30px 0;
}
#footer a{
  font-size: 30px;
  color: #ffffff;
}
#footer p{
  color: #ffffff;
}